html, body{
    font-family: 'Gothic A1', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
button{
    font-size: 2em;
    font-weight: bold;
    border: 2px solid transparent;
    background: rgb(108 151 100);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    transition: all 200ms;
}
button:hover{
    background: white;
    color: rgb(108 151 100);
    border: 2px solid rgb(108 151 100);
    cursor: pointer;
    transition: all 200ms;
}
.sectionComponent{
    width: 100%;
    padding: 50px 0;
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.sectionTitle{
    font-size: 35px;
    margin: 50px 0;
    text-align: center;
}
.sectionWrapper{
    width: 80%;
    min-width: 600px;
}